<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="LOGS" value="./logs"/>

    <!-- Console Appender -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- File Appender 1: Login -->
    <appender name="Login" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS}/login.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} - %msg%n</pattern>
        </encoder>
        <!-- Log file rolling policy -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOGS}/archived/login.%d{yyyy-MM-dd}.log.zip</fileNamePattern>
            <maxHistory>30</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <!-- File Appender 2: ProductDetail -->
    <appender name="ProductDetail" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS}/productdetail.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} - %msg%n</pattern>
        </encoder>
        <!-- Log file rolling policy -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOGS}/archived/productdetail.%d{yyyy-MM-dd}.log.zip</fileNamePattern>
            <maxHistory>30</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <!-- File Appender 3: ProductSearch -->
    <appender name="ProductSearch" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS}/productsearch.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} - %msg%n</pattern>
        </encoder>
        <!-- Log file rolling policy -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOGS}/archived/productsearch.%d{yyyy-MM-dd}.log.zip</fileNamePattern>
            <maxHistory>30</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <!-- File Appender 4: Orders -->
    <appender name="Orders" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS}/orders.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} - %msg%n</pattern>
        </encoder>
        <!-- Log file rolling policy -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOGS}/archived/orders.%d{yyyy-MM-dd}.log.zip</fileNamePattern>
            <maxHistory>30</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <!-- Logger 설정 -->
    <logger name="loginLogger" level="info" additivity="false">
        <appender-ref ref="Login"/>
    </logger>

    <logger name="productDetailLogger" level="info" additivity="false">
        <appender-ref ref="ProductDetail"/>
    </logger>

    <logger name="productSearchLogger" level="info" additivity="false">
        <appender-ref ref="ProductSearch"/>
    </logger>

    <logger name="ordersLogger" level="info" additivity="false">
        <appender-ref ref="Orders"/>
    </logger>

    <!-- Root Logger -->
    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>
